* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 30px;
}
.logo{
    font-weight: bold;
}

.nav-links{
    display: flex;
    gap: 21px;
}
.nav-links button{
  color: #828280;
  font-size: 14px;
  background-color: transparent;
  border: none;
  transition: transform 0.3s;
}

.nav-links button:hover{
    border-bottom:2px solid #828280;
    border-radius: 2px;
    transform: translateY(-5px);
}

.right-section{
    display: flex;
    gap: 21px;  
}

header{
    border-bottom:1px solid #828280e6 ;
    border-radius: 5px;
}



